.available{
    box-shadow: rgb(36, 33, 33) 0px 0px 10px 10px;
    background-color: white;
    width: 100%;
    height: auto;
    margin: 3vh auto;
    border-radius: 10px;
    margin-bottom: 10vh;
}
.meals-list{
    display: flex;
    flex-flow: row wrap;
}
.choose{
    font-size: 3rem;
    text-align: center;
    color: #49111c;
    padding: 3vh auto;
    margin: 3vh;    
    border-bottom: 3px dashed #49111c;

}