.btn{
    background-color: #49111c;
    color: whitesmoke;
    font-variant: small-caps;
    font-size: 1.3rem;
    text-align: center;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    margin: 10px;
    letter-spacing: .8px;
}
.btn:hover{
    background-color: #20070c;
    cursor: pointer;
}
@media all and (max-width:700px){
    .btn{
        font-size: 1rem;
        width: 70px;
        height: 25px;
        
    }
}