.header-wrap{
    height: auto;
    background-image: url('../../../assets/meals.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: transparent;
    background-color:	rgba(73, 17, 28,.8);
    position: fixed;
    top: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 10%;
    align-items: center;
    min-height: 50px;
    z-index: 7;
}
.main-heading{
    font-size: 2.1rem;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: .5px;
    color: #f2f4f3;
}


@media all and (max-width:700px) {
    .main-header{
        padding: 10px;
        min-height: 40px;
        height: 7%;
    }
    .main-heading{
        font-size: 1.7rem;
    }
    .main-img>img{
        width: 100%;
        height: 40vh;
        background-size: cover;
    }
}