@keyframes moveMe {
    from {
        bottom: 0;
    }
    to{
        bottom: 35vh;
    }
    
}

.meals-wrap{
    width: 70vw;
    position: relative;
    height: auto;
    left: 15vw;
    border-radius: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    animation-name: moveMe;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@media all and (max-width:700px) {
    .meals-wrap{
        width: 95vw;
        left: 2.5vw;
    }
}
